body {
	background-color: #fff;

	background-repeat: repeat-x;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: #CAA765 url(images/wrapper-bg.jpg) repeat;
	
}
#tweets p{
	font-weight: bold;
	color: #000;
	font-size: 15px;
}
#container {
	margin: 7.0em 0 0 -30.0em;
	left: 50%;
	position: relative;
	width: 60em;
	background: #fff url(../images/bg-bottom.png) no-repeat bottom left;
}